html, body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

#top, #footer {
    background-color: #1F2937;
}

/* Navigation + hero */

#top {
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    min-width: 600px;
}

nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex: auto; */
    /* width: 1080px; */
    gap: 20px;
    flex: 1 1 auto;
    width: 100%;
}

#nav-logo {
    /* let the log pushing the menu all the way to the right */
    flex: 1 0 auto;
    font-family: 'Smooch', cursive;
    font-size: 32px;
    font-weight: 600;
    color: #f9faf8;
    height: 120px;
    text-transform: capitalize;
}

#nav-logo img {
    height: 100%;
    vertical-align: middle;
}

#nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    color: #e5e7eb;
}

.hero-item {
    margin: 3rem 0 3rem 0;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.hero-information {
    max-width: 50rem;
    min-width: 15rem;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
    text-transform: capitalize;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 20px;
    margin: 10px 0;
}

.hero-signup-button {
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    padding: 5px 24px;
    margin: 10px 0;
    font-size: 18px;
}

.hero-image {
    max-width: 250px;
    flex-shrink: 0;
}

.hero-image img {
    max-height: 100%;
    max-width: 100%;
}

/* middle section - information (coaches) */

#information {
    padding: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-transform: capitalize;
}

.details-group {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.details-image {
    max-width: 160px;
    max-height: 250px;
    flex: 1;
}

.details-image img {
    height: 100%;
    width: 100%;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.details-name {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: #1F2937;
    font-family: "Smooch";
}

/* Middle section - quote */

#quote {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;
    padding: 4rem 0;
    background: #e5e7eb;
}

.quote-text {
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    max-width: 960px;
    min-width: 480px;
}

.quote-author {
    text-align: end;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
}

/* middle section - action */

#action {
    display: flex;
    justify-content: center;
    padding: 4rem 4rem;
}

.action-container {
    background: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding: 1.5rem 4rem;
    max-width: 960px;
    min-width: 480px;
    flex: 1;
}

.action-title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: .3rem;
}

.action-subtitle {
    color: #e5e7eb;
    font-weight: lighter;
}

.action-signup-button {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    padding: 5px 24px;
    margin: 10px 0;
    font-size: 18px;
    flex: 0 0 auto;
}

/* footer */

#footer {
    padding: 2rem 0 2rem;
    color: #e5e7eb;
    text-align: center;
}